<footer>
  <hr style="margin-left: 15px; color: #000 !important; background-color: #000 !important; opacity: 1 !important; width: 40px; height: .5px !important; margin-bottom: 1rem !important;">
  <div class="row m-0">
    <div class="col-12 col-md-4 col-sm-3 mb-4 mb-sm-0">
      <p class="footer-text"><br>Last update Nov 12, 2024</span></p>
      <p class="footer-text"><i class="fas fa-location-dot pr-3"></i> <span class="ms-1">Seoul is </span><img style="width: auto; height: 23px;" id="weather_icon"><span id="weather">Loading...</span></p>
    </div>
    <div class="col-12 col-md-8 col-sm-9 mb-4 mb-sm-0">
      <p>
      </p>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="{{ '/assets/js/weather.js' | relative_url }}"></script>
<script src="{{ '/assets/js/github_date.js' | relative_url }}"></script>
